header {
    padding: 50px 20px;
}

.jours {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.semaine {
    margin: 40px 0;
    text-align: center;
}

.semaine h2 {
    margin-bottom: 20px;
    font-weight: 500;
}

.ligne {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.separateur {
    width: 60%;
    height: 2px;
    margin: 40px auto;
    background: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0.6),
        transparent
    );
}

.container-semaines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.trait-vertical {
    width: 2px;
    height: 200px;
    background: linear-gradient(
        to bottom,
        transparent,
        rgba(255, 255, 255, 0.7),
        transparent
    );
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;

    min-height: 100vh;
    overflow-x: hidden;

    background: linear-gradient(
        to bottom,
        #3b0a14 0%,
        #7a1e2c 40%,
        #b3122d,
        #c9a3a8 75%,
        #f2e9ea 100%
    );
}

/* boutons propres */
.jours a, a.btn {
    display: inline-block;
    text-decoration: none;
    color: #333;
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 25px;
    border-radius: 12px;
    transition: transform 0.2s ease, background 0.2s ease;
}

.jours a:hover {
    transform: translateY(-3px);
    background: #f2f2f2;
}
.btn-etudes {
    background: #ffffff;
    color: #610701;
    font-weight: bold;
}
